@page "/"

<PageTitle>KITT - Live tools</PageTitle>

<EditForm Model="model" role="form" class="row g-3 align-items-center">
    <div class="col">
        <label class="visually-hidden">Current streaming</label>
        <InputSelect @bind-Value="model.StreamingId" class="form-control">
            <option value="@Guid.NewGuid()">Mia live di test</option>
        </InputSelect>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-outline-primary">Save</button>
    </div>
</EditForm>
<hr />
<div class="row">
    <div class="accordion" id="liveManagement">
        <div class="accordion-item">
            <h2 class="accordion-header" id="botHeading">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#botContainer" aria-expanded="true" aria-controls="botContainer">
                    Gestione BOT
                </button>
            </h2>
            <div id="botContainer" class="accordion-collapse collapse show" aria-labelledby="botHeading" data-bs-parent="#liveManagement">
                <div class="accordion-body">
                    <div class="row align-content-center">
                        <div class="col-auto">
                            <button type="button" class="btn btn-outline-primary">Avvia il BOT</button>
                        </div>
                        <div class="col">
                            <div class="alert alert-info">
                                Il BOT attualmente non è attivo. Clicca sul bottone per attivarlo
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="statsHeading">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#statsContainer" aria-expanded="false" aria-controls="statsContainer">
                    Statistiche
                </button>
            </h2>
            <div id="statsContainer" class="accordion-collapse collapse" aria-labelledby="statsHeading" data-bs-parent="#liveManagement">
                <div class="accordion-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5>@model.Viewers spettatori</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5>@model.Subscribers abbonati</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5>@model.UserJoinedNumber utenti in live</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-3">
                            <div class="card">
                                <div class="card-body">
                                    <h5>@model.UserLeftNumber utenti hanno abbandonato la live</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private ViewModel model = new();

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    public class ViewModel
    {
        [System.ComponentModel.DataAnnotations.Required]
        public Guid? StreamingId { get; set; }

        public int Viewers { get; set; }

        public int Subscribers { get; set; }

        public int UserJoinedNumber { get; set; }

        public int UserLeftNumber { get; set; }
    }
}